.headerContainer {
  min-height: 400px;
  background: linear-gradient(180deg, #e1f1fe, rgba(225, 241, 254, 0));
}
.headerTop {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5em;
  background: linear-gradient(180deg, #e1f1fe, rgba(225, 241, 254, 0));
}
.referralLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 1em;
  margin-left: 10px;
}
.headerHeading {
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #002147;
  position: relative;
}
.headingUnderline {
  position: absolute;
  width: 100%;
  height: 16px;
  left: 0;
  bottom: 0;
  background: #c3e2fc;
  z-index: -1;
}
.headerHeading .specialtext {
  color: #0487f3;
}
.headerReferralText {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #5c7189;
}
.headerReferralButton {
  height: 50px;
  width: 100px;
  color: white;
  background: #002147;
  border: 2px solid #002147;
}
.referralRightImage {
  height: 400px;
  width: 400px;
  object-fit: contain;
  margin-right: 10px;
}
.headerMiddle {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.middleHeading {
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #002147;
}
.middleStepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 20px auto;
}


.middleStepItems {
  margin: 10px auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 3em;
}
.middleStepHead {
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #002147;
}
.middleStepText {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #5c7189;
}
.headerBottom {
  margin: 20px auto;
  width: 80%;
  margin-top: 50px;
  text-align: left;
  background-color: #ec473148;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.bottomTextHeading {
  margin-left: 10px;
  font-weight: 600;
}
.noteList {
  list-style-type: stylety;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
span .listDot {
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
}
.noteList li {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}
