.navbarContainer {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.952);
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  position: fixed;
  z-index: 999;
}
.navbarLeft {
  flex: 2;
  cursor: pointer;
}

.navbarRight {
  cursor: pointer;
  flex: 8;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: space-around;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: space-around;
}
.searchUniv{
  background-color: rgba(207, 227, 233, 0.603);
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  padding-left: 10px;
}
.searchUniv > input{
  border: none;
  background-color: transparent;
  height: 40px;
  width: 270px;
  font-size: 16px;
}
.searchUniv > input:focus{
  outline: none;
}
  
.ctaIcons {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
.call{
  height: 48px;
  width: 48px;

}
.profile{
  height: 48px;
  width: 48px;
}
