.faqContainerPrimary {
  background-color: #e1f1fe96;
  text-align: left;
  padding: 20px 0;
  box-sizing: border-box;
}
.faqContainerSecondary {
  width: calc(80%);
  min-height: 700px;
  margin: 10px auto;
  position: relative;
}
.faqHeading {
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #002147;
}
.faqQuestions {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(121, 119, 119, 0.363);
}
.quesText{
  width: 40%;
}
.openAnswer{
  width: 40%;
  color: rgb(13, 16, 233);
  font-size: 24px;
  cursor: pointer;
  margin: 20px;
  text-align: right;

}
.agreeRefer {
  position: absolute;
  right: 0;
  height: 50px;
  width: 200px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(13, 16, 233);
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.answer {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #002147;
}
