.footerFour {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  justify-content: space-between;
}
.copyright {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #5c7189;
}
.backToTop {
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #002147;
  height: 50px;
  width: 150px;
  border: 2px solid #002147;
  border-radius: 10px;
  background-color: white;
}
.backToTop:hover {
    color: white;
    background-color: #002147;
    cursor: pointer;
}
.footerBottomImage{
    object-fit: cover;
}